#header {
  
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-color: #1f8091;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  flex-direction:  column;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
 text-align: center;
}



