
/*
* Additional CSS to style the form
*/

#tweet-area {
  width: 100%;
  background-color: inherit;
  overflow: hidden;
  border: none;
  border-bottom: 4px #545149 solid;
  margin-top: 125px;
}

#tweet-area:focus{
  outline: none;
    border:1px solid #fdfdfd;
    box-shadow: 0 0 10px#fdfdfd;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.btn {
  font-family: 'Bungee';
  color: black;
  font-size: 24px;
  padding: 5px 10px;
}
.error {
  color: red;
  font-size: 19px;
  margin-left: 10px;
}

.fontRed {
  color: red;
}

.error-box {
  color: red;
  border:  2px solid red;
  text-align: center;
  display: none;
  transition: 0.5;
}
